* {
	margin: 0;
	padding: 0;
	}

html {
	height: 101%;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	}

body {
	background: #FFF;
	color: #666;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.0em;
	line-height: 1.5em;
	margin: 2.5em auto;
	}

a {
	color: #444;
	text-decoration: none;
	outline: none;
}

section a {
	border-bottom: 2px #090 solid;
	padding-bottom: 1px;
	}

section span a {
	background-color: #CFC;
	border-bottom: none;
	border-radius: 0.25em;
	color: #090;
	padding: 0 0.2em;
	}

nav li a {
	color: #090;
	border-bottom: 2px #090 solid;
	padding-bottom: 1px;
	}

a:active,
a:visited {
	outline: none;
	}

a:hover {
	border-bottom: none;
	color: #090;
	outline: none;
	}

hr {
	border-bottom: none;
	border-top: 1px solid #999;
	margin: 1em 0;
	}

p + hr,
ol + hr,
ul + hr {
	margin-top: 2.5em;
	}

img {
	border: 1px solid #CCC;
	max-width: 90%;
	display: block;
	margin: 2em auto;
	outline: none;
	padding: 1em;
	}

h1 {
	color: #444;
	font-size: 3.0em;
	line-height: 1.2em;
	margin-bottom: 0.25em;
	}

h2 {
	color: #444;
	font-size: 1.9em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 1.0em;
	}

h3 {
	color: #444;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 1.5em;

	}

h4 {
	color: #444;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	}

h5 {
	color: #444;
	font-size: 1.0em;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	}

p {
	margin-bottom: 1.0em;
	}

blockquote {
	background: #EEE;
	border-left: 20px solid #CCC;
	margin-bottom: 1.0em;
	padding: 1.0em;
	}

p code,
li code {
	background-color: #F8F8F8;
	border-radius: 3px;
	border: 1px solid #CCC;
	color: #333;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	padding: 0 0.2em;
	white-space: nowrap;
	}

pre {
	background-color: #F8F8F8;
	border-radius: 3px;
	border: 1px solid #CCC;
	color: #333;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	margin-bottom: 1.5em;
	padding: 0.5em 1.0em;
	}

strong {
	color: #777;
	}

sub,
sup {
	font-size: 0.7em;
	line-height: 1;
	}

table {
	border: 1px solid #999;
	border-collapse: collapse;
	margin-bottom: 1.5em;
	}

tr {
	border-bottom: 1px solid #999;
	}

th {
	background: #EEE;
	color: #777;
	padding: 0.5em;
	text-align: left;
	white-space: nowrap;
	}

td {
	padding: 0.5em;
	text-align: left;
	white-space: nowrap;
	}

ul,
ol {
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	}

nav ul {
	margin-left: 0;
	}

li ul,
li ol {
	margin-bottom: 0.5em;
	margin-left: 2.5em;
	margin-top: 0.25em;
	}

li + li[id] {
	margin-top: 1.5em;
	}

li strong + ul {
	margin-top: 0.5em;
	}

li p {
	margin-bottom: 0.5em;
	}

blockquote p:last-child {
	margin-bottom: 0;
	}

nav {
	overflow: hidden;
	padding: 0.5em 0;
	}

nav li {
	float: left;
	font-weight: bold;
	line-height: 1.7em;
	list-style: none;
	margin-right: 1.2em;
	}

section a:hover {
	border-bottom: 2px #FFF solid;
	}

nav li a:hover,
nav li a.active {
	color: #222;
	border-bottom: 2px #222 solid;
	}

header {
	margin: 0 2.2em;
	}

header p + hr {
	margin-top: 0;
	}

footer {
	margin: 0 2.2em;
	padding-bottom: 2em;
	}

section {
	margin: 2.0em 2.2em 0;
	}

section span a:hover {
	background-color: #090;
	border-bottom: none;
	color: #FFF;
	}


/*
	Tablet Screen Styles
*/

@media screen and (device-width <= 1024px), screen and (width <= 1024px) {
		body {
		text-size-adjust: 100%;
		padding: 1em;
		margin: 0 auto;
		width: 800px;
		}

	p {
		margin-bottom: 20px;
		}

	h1 {
		font-size: 30px;
		margin-bottom: 10px;
		}

	}

/*
	Small Screen Styles
*/

@media screen and (device-width <= 480px), screen and (width <= 800px) {
	body {
		text-size-adjust: 100%;
		padding: 1em;
		margin: 0 auto;
		width: 90%;
		}

	h1 {
		font-size: 20px;
		margin-bottom: 10px;
		}

	h2 {
		font-size: 20px;
		margin-bottom: 10px;
		}

	h3 {
		margin: 20px 0;
		}

	p {
		margin-bottom: 20px;
		max-width: 100%;
		}

	header {
		margin: 0;
		}

	section {
		margin: 0;
		}

	footer {
		margin: 0;
		}

	footer p {
		font-size: 13px;
	}

	nav li {
		font-size: 13px;
		margin-right: 15px;
		}

	}
